*{
    padding:0;
    margin: 0;
    box-sizing: 0;
}
body{
    margin: 0;
    padding: 0;
}
.home-body{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
header{
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
header .header-icon-container{
    width: 100%;
    height: 50px;
    display: grid;
    background:  #6503A6;
}
header .header-icon-container .icons {
    width: 300px;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    margin-right: 50px;
}
a{
    display: inline;
    text-decoration: none;
    font-family: hack, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #6503A6;
}
a{
    display: inline;
    text-decoration: none;
    font-family: hack, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #6503A6;
}
a:hover{
    color: #fff;
}
nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90px;
    background:rgb(121, 59, 161);
}
nav .nav-logo-container {
    margin-left: 50px;
}
nav .nav-logo-container img{
width: 250px;
height: auto;
}
main {
    display: grid;
}
.blogs-news-container{
    background-color: rgba(190, 190, 190, 0.788);
    padding: 0px 50px 40px;
}
.blogs-main-new{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr;
}
.blogs-main-new h3{
    font-family: bungee, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
}
.blogs-news-img-container{
    grid-column: 1;
}

.blogs-news-img-container img{
    width: 85%;
    height: 350px;
}
.blogs-news-info-container{
    grid-column: 2;
}
.blogs-news-info-container h2{
    font-family: bungee, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
}
.blogs-news-info-container p{
    margin-bottom: 35px;
    margin-top: 10px;
    font-size: 15px;
    font-family: hack, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.blogs-post-container{
    padding: 0px 50px 40px;
}
.grid-container{
    max-width: 980px;
  margin: auto;
}
.blogs-post-container h3{
    border-bottom: 1px solid #6503A6;
    padding-bottom: 20px;
    text-align: center;
    margin-top: 10px;
    font-family: bungee, sans-serif;
    font-weight: 700;
    font-style: normal;
}
.blogs-button{
    border: 1px solid rgb(152, 3, 252);
    border-radius: 5px;
    font-size: 12px;
    color: white;
    background: #6503A6;
    padding: 10px 15px;
    margin-bottom: 5px;
}
.blogs-button:hover{
    background: #fff;
    color: #6503A6;
    cursor: pointer;
}
.blogs-post-container .post-container{
display: inline-block;
max-width: 30%;
padding-left: 10px;
margin-bottom: 50px;
}
.blogs-post-container .post-container h1 {
    font-family: bungee, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    padding-bottom: 20px;
    margin-top: 10px; 
}
.blogs-post-container .post-container p{
    margin-bottom: 35px;
    letter-spacing: 2px;
    font-family: hack, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 12px;
}
.blogs-post-container .post-container img {
    width: 100%;
    background-size: cover;
    margin-top: 5px;
    border-radius: 5px;
}

.contact-container{
    padding: 5px 15px 10px;
    background-color:rgb(202, 202, 202);
    height: 190px;
 /* grid-template-rows: 1fr 1fr; */
}
.grid-contact{
  max-width: 980px;
  margin: auto;
  margin-bottom: 20px;
 background-color: rgba(255, 255, 255, 0.609);
 /*  padding: 0px 50px 40px; */
} 
.grid-contact h1{
    text-align: center;
    margin-top: 10px;
    font-family: bungee, sans-serif;
    font-weight: 700;
    font-style: normal;
}
.post-contact{
display: grid;
grid-template-columns: 1fr 2fr;
max-width: 100%;
padding-left: 10px;
margin-bottom: 20px;
}
.post-contact img{
width:35%;
margin-left: 100px;
}
/* .post-contact h2{
    font-family: bungee, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    grid-column: 2;
} */
.post-contact p{
    margin-bottom: 35px;
    margin-top: 10px;
    font-size: 15px;
    font-family: hack, sans-serif;
    font-weight: 400;
    font-style: normal;
    grid-column: 2;
    text-align: center;
    letter-spacing: 1px;

}

footer{
    width: 100%;
    height: 80px;
    background: #6503A6;
    border-top: 35px solid rgb(121, 59, 161);
}
footer p{
    margin-top: 30px;
    color: #fff;
    text-align: center;
}