body {
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
  /*   background-image: url("../img/marv1.jpg");
    background-repeat: no-repeat; */
    /* width: 100%;
    height: auto; */
}

/*  body img {
    width: 100%;
    height: auto;
    opacity: ;
} */

a {
    text-decoration: none;
    cursor: pointer;
}

header {
    width: 100%;
    height: 60px;
}

header nav {
    display: flex;
    justify-content: flex-end;
}

header nav .nav-right-section {
    width: 250px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
   /*  display: inline-block; */
}

/* ul {
    display: inline-block;
} */

nav .nav-right-section a {
  color: black;
  margin-right: 10px;
  /* display: inline-block; */
}

nav .nav-right-section .nav-icon {
    background-image: url(../img/756729-200.png);
    width: 25px;
    height: 25px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

nav .nav-right-section .nav-google {
    background-image: url(https://lh3.googleusercontent.com/-TT2rZLEFxsg/AAAAAAAAAAI/AAAAAAAAAAA/ACHi3rc96E4bOkqZj1uYfTPWuA7l8R6zBw.CMID/s64-c/photo.jpg);
    width: 25px;
    height: 25px;
    background-position: center;
    background-size: contain;
    border-radius: 10px;
}


main {
    /* width: 100%;
    height: 140px;
    display: grid; */
    margin-top: 150px;
    text-align: center;
}

main .main-logo {
    /* display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 90px; */
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;

}

main .main-logo .google img {
    width: 272px;
    height: 92px;

}

main .main-input {
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
}

main .main-input-container {
    width: 525px;
    border-radius: 100px;
    border: 1px solid #dfe;
    display: flex;
    justify-content: center;
    align-items: center;

} 

main .main-input input {
    width: 450px;
    height: 40px;
    outline: none;
    border: none;

}

main .main-input-container:hover {
    box-shadow: 0 1px 6px 0 rgb(47, 48, 47);
    border-color: rgb(13, 17, 15);
}

main .main-input .search-icon {
    background-image: url("../img/search-512.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;

}

main .main-input .micro-icon {
    background-image: url("../img/Google_mic.svg_.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 18px;
    height: 18px;
}

main .main-buttons {
    width: 530px;
    margin: 0 auto;

}

main .main-buttons div {
    display: inline-block;
}

main .main-buttons button {
    height: 36px;
    background-color: rgb(214, 214, 214);
    border: 0;
    border-radius: 5px;
    margin-right:15px;
    padding: 0 15px;
    color: rgb(94, 94, 94);
    font-size: 14px;
}

main .main-buttons button:hover {
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px black;
    color: black;
}

footer {
    width: 100%;
    height: 50px;
    position: absolute;
    font-size: 13px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    bottom: 0;
    background-color: #f2f2f2;
    border: 1px solid #e4e4ee;
}

footer ul {
    margin: 10px;
    list-style: none;
    padding-left: 0;
    display: flex;

}

footer .footer-left {
    justify-self: left;
}

footer .footer-right {
    justify-self: right;
}

footer ul li a {
    margin: 10px;
    color: #5f6268;
}


/*  .main-input-container input a {
    background-color: #dfe;
    transition: backgroun-color .5s;
}

 .main-input-container a:hover {
    background-color:rgb(63, 63, 63) ;
} */











/* footer {
    width: 100%;
    height: 80px;
    background-color: #47cfac;
    border-top: 35px solid black;
}

footer p {
    color: white;
    text-align: center;
} */